:root {
    --applicationsapbackgroundcolor: rgba(245, 246, 247, 1);
    --containersapgrouptitletextcolor: rgba(29, 45, 62, 1);
    --textsaptextcolor: rgba(29, 45, 62, 1);
    --buttonemphasizedsapbuttonemphasizedtextcolor: rgba(255, 255, 255, 1);
    --buttonlitesapbuttonlitetextcolor: rgba(0, 100, 217, 1);
    --listsaplistbordercolor: rgba(229, 229, 229, 1);
    --tilesaptilebackground: rgba(255, 255, 255, 1);
    --buttonstandardsapbuttonbackground: rgba(255, 255, 255, 1);
    --buttonstandardsapbuttonbordercolor: rgba(214, 218, 222, 1);
    --buttonemphasizedsapbuttonemphasizedbackground: rgba(0, 112, 242, 1);
    --buttonemphasizedsapbuttonemphasizedbordercolor: rgba(0, 112, 242, 1);
    --buttonlitesapbuttonlitebackground: rgba(0, 0, 0, 0);
    --buttonlitesapbuttonlitebordercolor: rgba(0, 0, 0, 0);
    --applicationsappagefooterbackground: rgba(255, 255, 255, 1);
    --applicationsappageheaderbackground: rgba(255, 255, 255, 1);
    --buttonstandardsapbuttonhovertextcolor: rgba(0, 100, 217, 1);
    --buttonemphasizedsapbuttonemphasizedhovertextcolor: rgba(255, 255, 255, 1);
    --buttonstandardsapbuttontextcolor: rgba(0, 100, 217, 1);
    --buttonlitesapbuttonlitehovertextcolor: rgba(0, 100, 217, 1);
    --buttonstandardsapbuttonhoverbackground: rgba(234, 236, 238, 1);
    --buttonstandardsapbuttonhoverbordercolor: rgba(214, 218, 222, 1);
    --buttonemphasizedsapbuttonemphasizedhoverbordercolor: rgba(0, 100, 217, 1);
    --buttonlitesapbuttonlitehoverbackground: rgba(234, 236, 238, 1);
    --buttonlitesapbuttonlitehoverbordercolor: rgba(214, 218, 222, 1);
    --badgesapcontentbadgetextcolor: rgba(255, 255, 255, 1);
    --badgesapcontentbadgebackground: rgba(170, 8, 8, 1);
    --textsapcontentlabelcolor: rgba(85, 107, 130, 1);
    --inputstandardsapfieldtextcolor: rgba(19, 30, 41, 1);
    --inputstandardsapfieldplaceholdertextcolor: rgba(85, 107, 130, 1);
    --inputstandardsapfieldbackground: rgba(255, 255, 255, 1);
    --containersapgroupcontentbackground: rgba(255, 255, 255, 1);
    --inputstandardsapfieldhoverbackground: rgba(255, 255, 255, 1);
    --textsapcontentcontrasttextcolor: rgba(255, 255, 255, 1);
    --interactionsapcontentselectedforegroundcolor: rgba(0, 100, 217, 1);
    --interactionsapselectedcolor: rgba(0, 100, 217, 1);
    --main-header-sapobjectheader-title-fontsize-font-family: "72", Helvetica;
    --main-header-sapobjectheader-title-fontsize-font-weight: 900;
    --main-header-sapobjectheader-title-fontsize-font-size: 24px;
    --main-header-sapobjectheader-title-fontsize-letter-spacing: 0px;
    --main-header-sapobjectheader-title-fontsize-line-height: normal;
    --main-header-sapobjectheader-title-fontsize-font-style: normal;
    --mediumtext-lhauto-regular-font-family: "72", Helvetica;
    --mediumtext-lhauto-regular-font-weight: 400;
    --mediumtext-lhauto-regular-font-size: 14px;
    --mediumtext-lhauto-regular-letter-spacing: 0px;
    --mediumtext-lhauto-regular-line-height: normal;
    --mediumtext-lhauto-regular-font-style: normal;
    --mediumtext-lhauto-bold-font-family: "72", Helvetica;
    --mediumtext-lhauto-bold-font-weight: 700;
    --mediumtext-lhauto-bold-font-size: 14px;
    --mediumtext-lhauto-bold-letter-spacing: 0px;
    --mediumtext-lhauto-bold-line-height: normal;
    --mediumtext-lhauto-bold-font-style: normal;
    --mediumtext-lhauto-semibold-font-family: "72", Helvetica;
    --mediumtext-lhauto-semibold-font-weight: 400;
    --mediumtext-lhauto-semibold-font-size: 14px;
    --mediumtext-lhauto-semibold-letter-spacing: 0px;
    --mediumtext-lhauto-semibold-line-height: normal;
    --mediumtext-lhauto-semibold-font-style: normal;
    --button-emphasized-sapbutton-emphasized-fontweight-font-family: "72", Helvetica;
    --button-emphasized-sapbutton-emphasized-fontweight-font-weight: 700;
    --button-emphasized-sapbutton-emphasized-fontweight-font-size: 14px;
    --button-emphasized-sapbutton-emphasized-fontweight-letter-spacing: 0px;
    --button-emphasized-sapbutton-emphasized-fontweight-line-height: normal;
    --button-emphasized-sapbutton-emphasized-fontweight-font-style: normal;
    --mediumtext-lhauto-semiboldduplex-font-family: "72", Helvetica;
    --mediumtext-lhauto-semiboldduplex-font-weight: 400;
    --mediumtext-lhauto-semiboldduplex-font-size: 14px;
    --mediumtext-lhauto-semiboldduplex-letter-spacing: 0px;
    --mediumtext-lhauto-semiboldduplex-line-height: normal;
    --mediumtext-lhauto-semiboldduplex-font-style: normal;
    --smalltext-lhauto-bold-font-family: "72", Helvetica;
    --smalltext-lhauto-bold-font-weight: 700;
    --smalltext-lhauto-bold-font-size: 12px;
    --smalltext-lhauto-bold-letter-spacing: 0px;
    --smalltext-lhauto-bold-line-height: normal;
    --smalltext-lhauto-bold-font-style: normal;
    --mediumtext-lhauto-italic-font-family: "72", Helvetica;
    --mediumtext-lhauto-italic-font-weight: 400;
    --mediumtext-lhauto-italic-font-size: 14px;
    --mediumtext-lhauto-italic-letter-spacing: 0px;
    --mediumtext-lhauto-italic-line-height: normal;
    --mediumtext-lhauto-italic-font-style: italic;
    --largetext-lhauto-bold-font-family: "72", Helvetica;
    --largetext-lhauto-bold-font-weight: 700;
    --largetext-lhauto-bold-font-size: 16px;
    --largetext-lhauto-bold-letter-spacing: 0px;
    --largetext-lhauto-bold-line-height: normal;
    --largetext-lhauto-bold-font-style: normal;
    --shadow-sapcontent-shadow1: 0px 2px 8px 0px rgba(85, 107, 130, 0.3), 0px 0px 0px 1px rgba(85, 107, 130, 0.72);
    --shadow-sapcontent-headershadow: 0px 2px 2px 0px rgba(85, 107, 130, 0.05);
    --shadow-sapcontent-shadow3: 0px 20px 80px 0px rgba(34, 54, 73, 0.25), 0px 0px 0px 1px rgba(34, 54, 73, 0.48);
  }
  